body{
  background-color: black;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*align-items*/  
  align-items: stretch;
  padding-bottom: 10000px;
}
.side-navbar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 0;
  background-color: rgb(156, 98, 98);
  width: 250px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-insta-logo{
  width: 25px;
}
.top-sidebar,
.bottom-sidebar,
.sidebar-icons{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  height: 60px;
  padding-left: 50px;
  transition: background-color 0.2s;
}
.top-sidebar{
  margin-bottom: 70px;
}
.bottom-sidebar{
  margin-top: 180px;
}
.icon-names,
.icon-name-header{
  margin-left: 10px;
}
.icon-container-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.sidebar-icons:hover,
.top-sidebar:hover,
.bottom-sidebar:hover{
  background-color: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: #f9f9f9;
    height: 15vh;
    width: 100%;
   /*container*/ 
    flex-grow: 1;
    position: absolute;
  top: 50%;

}

.stories {
    width: 650px;
    height: 100px;
    background-color: #fff;
    border: 1px #ddd;
    border-radius: 5px;
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.stories .btn-scroll {
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 80%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
    scroll-snap-align: start;
}


.story-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s all ease-out;
}

.story-img {
    background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
    width: 60px;
    height: 60px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotateZ(45deg);
}

.story-img img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: rotateZ(-45deg);
}
.story-section{
  position: absolute;
  left: 30%;
  right: 30%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/*POST-SECTION*/
.post-section{
  background-color: aqua;
  width: 468px;
  height: auto;
  position: relative;
  left: 30%;
  right: 60%;
  top: 30%;
}
.post-profile{
  display: grid;
  grid-template-columns: 50px 250px;
}
.post-profile-info{
  display: grid;
  grid-template-columns: 392px 60px;
}

.profile-info-image{
  width: 45px;
  height: 45px;
  object-fit: contain;
}
.profile-info-menu{
  width: 10px;
}

.post-image{
  width: 468px;
  height: 468px;
  object-fit: cover;
}

.post-interaction{
  display: grid;
  grid-template-columns: 400px 60px;
}
.post-caption{
  display: grid;
  grid-template-columns: 100px 368px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.post-comment{
  margin-top: 6px;
  margin-bottom: 6px;
}
.fa-regular{
  width: 30px;
  color: white;
  margin-left: 5px;
}
.post-list{
  display: grid;
  grid-template-rows: repeat(1fr);
  gap: 90px;
}
