body{
  background-color: black;
  font-family: sans-serif;
}
.side-navbar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: rgb(135, 86, 86);
  width: 200px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-insta-logo{
  width: 25px;
}
.top-sidebar,
.bottom-sidebar,
.sidebar-icons{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  height: 60px;
  padding-left: 50px;
  transition: background-color 0.2s;
}
.top-sidebar{
  margin-bottom: 70px;
}
.bottom-sidebar{
  margin-top: 100px;
}
.icon-names,
.icon-name-header{
  margin-left: 10px;
}
.icon-container-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.sidebar-icons:hover,
.top-sidebar:hover,
.bottom-sidebar:hover{
  background-color: grey;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: 100vh;
}

.stories {
    width: 600px;
    height: 80px;
    background-color: #fff;
    border: 1px #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}


.story-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;

}

.story-img {
    background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
    width: 60px;
    height: 60px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.story-img img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #fff;
}
